global
        #log 127.0.0.1  local0
        #log 127.0.0.1  local1 notice
        log 127.0.0.1   local0 info 
        maxconn 4096            
        chroot /usr/local/haproxy      
        uid 99              
        gid 99
        daemon               
        nbproc 1            
        pidfile /var/run/haproxy.pid 
        #debug              
        #quiet                   
defaults            
        log     global      
        mode    http       
        option  httplog    
        option  dontlognull 
        retries 3      
        option redispatch   
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000
 
 
listen  xiaobing4832-ha.daoapp.io *:80
        balance roundrobin
        server xiaobing4832-test.daoapp.io